#Navigation {
	z-index: 2;
	background: white;
}
#Navigation.container-fluid {
	padding: 0;
	margin: 0;
	background: transparent;
}
.signInButton,
.signOutButton,
.link {
	background-color: rgba(249, 249, 249, 0.9);
	font-size: 2em;
	border: 4px solid black;
	outline: none;
	color: black;
	font-family: unset;
	cursor: pointer;
	text-decoration: none;
	font-weight: 600;
	width: auto;
  margin: 0.3em;
}
.signOutButton:hover,
.signInButton:hover,
.signOutButton:focus,
.signInButton:focus,
.signOutButton:active,
.signInButton:active {
	outline: none;
}
